* {
  padding: 10px;;
  margin: 0;
}

#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  position: relative;
}

#character {
  width: 20px;
  height: 50px;
  background-color: rgb(109, 2, 170);
  position: absolute;
  top: 150px;
}

.animate{
  animation: jump 500ms;
} 

@keyframes jump {
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

#block {
  width: 20px;
  height: 20px;
  background-color: rgb(5, 128, 1);
  position: absolute;
  bottom: 0px;
  left: 480px;
  animation: slide 1s infinite;
}

@keyframes slide {
  0%{left: 480px;}
  50%{left: 220px}
  100%{left: -40px;}
}